<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/spacing.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>youtube comment</title>
  </head>
  <body>
    <div id="app">
        <section class="hero is-fullheight">
            <div class="hero-body">
              <div class="container">
                <h1 class="title has-text-centered">
                    Youtube Comment
                </h1>
                <div class="subtitle has-text-centered">
                  <p class="description">
                    유튜브 댓글을 가져오고, 분석하는 서비스입니다.
                  </p>
                    <input style="border:none" class="input is-rounded m-t-lg url" placeholder="https://www.youtube.com/watch?v=..."/>
                    <button class="m-t-lg">go</button>
                  </div>
              </div>
            </div>
          </section>
          
          <div class="columns">
              <div class="column">
                positive percent
                유튜브 댓글의 긍정/부정을 분류하여 긍정적인 댓글의 퍼센트를 제공합니다.
              </div>
              <div class="column">
                High frequency word
                댓글중에서 가장 빈도수 높은 단어를 제공합니다.
              </div>
              <div class="column">
                Download csv file
                특수문자, 영문을 제거한 텍스트 csv를 다운로드 할 수 있습니다.
              </div>
            </div>
    </div>
 
    <script src="main.js" ></script>
 
  </body>
</html>