<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spacing.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>youtube comment</title>
  </head>
  <body>
    <div id="app">
        <img src="{{ url_for('static', filename='images/'+ url+'.png') }}">
    </div>

 
  </body>
</html>